/* TODO: include normalize */

body {
  margin: 0;
  font-family: "Arial"; /* TODO */
}

h1 {
  font-size: 14px;
  margin: 3px 0;
  text-decoration: none;
}

a {
  color: #037292;
  text-decoration: none;
}

.ph-widget {
  display: flex;
}

.ph-logo-container {
  display: inline-block;
  position: relative;
}

.ph-logo {
  width: 55px;
  height: 55px;
}

.ph-badge {
  position: absolute;
  text-align: center;
  top: 4px;
  right: 0;
  border-radius: 9px;
  background-color: #ff7f2a;
  color: white;
  font-size: 12px;
  line-height: 1;
  vertical-align: middle;
  padding: 2px;
  min-width: 12px;
  font-weight: bold;
}

.ph-description {
  margin-left: 10px;
}
.ph-description small {
  color: grey;
}
