@import '../node_modules/normalize.css/normalize.css';

$badge-color: #ff7f2a;
$badge-font-size: 12px;
$badge-padding: 2px;
$grey: #808080;
$h1-font-size: 14px;
$link-color: #037292;
$logo-size: 40px;
$white: #fff;

h1 {
  font-size: $h1-font-size;
  font-weight: normal;
  margin: 3px 0;
  text-decoration: none;
}

a {
  color: $link-color;
  text-decoration: none;
}

.ph-widget {
  align-items: center;
  display: flex;
}

.ph-logo-container {
  display: inline-block;
  // the a element's height is larger than the contained img (for unknown reasons)
  height: $logo-size;
  position: relative;
}

.ph-logo {
  height: $logo-size;
  width: $logo-size;
}

.ph-badge {
  background-color: $badge-color;
  border-radius: ($badge-font-size + 2 * $badge-padding) / 2;
  color: $white;
  font-size: $badge-font-size;
  font-weight: bold;
  line-height: 1;
  min-width: $badge-font-size;
  padding: $badge-padding;
  position: absolute;
  right: 0;
  text-align: center;
  top: 4px;
  vertical-align: middle;
}

.ph-description {
  margin-left: 7px;

  small {
    color: $grey;
  }
}
