/* TODO: include normalize */

$logoSize: 40px;
$h1FontSize: 14px;
$badgeFontSize: 12px;
$badgePadding: 2px;

body {
  margin: 0;
  font-family: "Arial"; /* TODO */
}

h1 {
  font-size: $h1FontSize;
  margin: 3px 0;
  text-decoration: none;
  font-weight: normal;
}

a {
  color: #037292;
  text-decoration: none;
}

.ph-widget {
  display: flex;
  align-items: center;
}

.ph-logo-container {
  display: inline-block;
  position: relative;
  // the a element's height is larger than the contained img (for unknown reasons)
  height: $logoSize;
}

.ph-logo {
  width: $logoSize;
  height: $logoSize;
}

.ph-badge {
  position: absolute;
  text-align: center;
  top: 4px;
  right: 0;
  border-radius: ($badgeFontSize + 2 * $badgePadding) / 2;
  background-color: #ff7f2a;
  color: white;
  font-size: $badgeFontSize;
  line-height: 1;
  vertical-align: middle;
  padding: $badgePadding;
  min-width: $badgeFontSize;
  font-weight: bold;
}

.ph-description {
  margin-left: 7px;
}
.ph-description small {
  color: grey;
}
